.frosty {
  color: white;
  font-weight: bold;
  font-size: 8rem;
  line-height: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.subtitle {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  top: -1.5rem;
  left: 0.4rem;
}

.description {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.openSource:hover {
  text-decoration: underline;
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 5rem;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 3rem;
  max-width: 2000px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 1.5rem;
}

.caption {
  color: white;
  text-align: center;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .images {
    display: flex;
    flex-direction: column;
  }

  .badges {
    flex-direction: column;
    align-items: center;
  }

  .frosty {
    font-size: 4.5rem;
  }

  .subtitle {
    font-size: 1rem;
    top: -1rem;
    left: 0.2rem;
  }

  .description {
    margin-top: 3rem;
  }
}
